 
@media screen  and (max-width:640px){
    .header-img img{
             width: fit-content;
             height: 300px
    }
}  

@media screen and (max-width:640px){
    .header-img{
        border-radius: ('50% 50% 50% 50% / 50% 50% 50% 50% ');
    }
}


#span1:before{
    content:'';
    animation:animate infinite 10s;
}

@keyframes animate{
    0%{content:'Groceries'; font-size: 40px;  }
    40%{content:'Medicines'; font-size: 40px;  }
    50%{content:'Dairy'; font-size: 40px;  }
    60%{content:'Fruits'; font-size: 40px;  }
    75%{content:'Vegetables'; font-size: 40px;  }
    100%{content:'Daily Needs'; font-size: 40px;  }
}