 
html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }


 

 
 


/* #span1:before{
    content:'';
    animation:animate infinite 7s;
}

@keyframes animate{
    0%{content:'Groceries'; font-size: 40px;  }
    25%{content:'Medicines'; font-size: 40px;  }
    35%{content:'Dairy'; font-size: 40px;  }
    55%{content:'Fruits'; font-size: 40px;  }
    70%{content:'Vegetables'; font-size: 40px;  }
    85%{content:'Daily Needs'; font-size: 40px;  }
    100%{content:'Groceries'; font-size: 40px;  }
}   
 */

.home h1{
    font-size: 3rem;
    margin-top: 2rem;
}

.text-content{
    font-size: 2.rem;
    font-weight: 700;
    margin-top: 1rem;
}

.content{
    font-size: 1.5rem;
}

.sub-content{
    font-size: 1.2rem;
    margin-top: 0.5rem;

}
.app-button{
    display: flex;
}


@media only screen and (min-width:320px) and (max-width:480px){
     .home h1{
        text-align: center;
        font-size: 2rem;
        margin-top: 1rem;
     }

     .text-content{
        text-align: center;
        font-size: large;
     }
     .content{
        font-size: large;
        text-align: center;
     }
     .sub-content{
        font-size: medium;
        text-align: center;
    }

    .app-button{
        align-items: center;
        justify-content: center;
       
    }
    .btn {
        font-size: small;
    }
    
     
}